# Python
## 28 August 2023

### Input Output

In [35]:
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'
'Results of the 2016 Referendum'

'Results of the 2016 Referendum'

In [36]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:-9} YES votes {:2.2%}'.format(yes_votes, percentage)
' 42572654 YES votes 49.67%'

' 42572654 YES votes 49.67%'

In [37]:
s = 'Hello, world.'
str(s)

'Hello, world.'

In [38]:
repr(s)

"'Hello, world.'"

In [39]:
str(1/7)

'0.14285714285714285'

In [40]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

In [52]:
hello = 'hello, world\n'
hellos = repr(hello)
print(hello)
print(hellos)

hello, world

'hello, world\n'

In [41]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [58]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:8} >>>>> {phone:10d}')

Sjoerd   >>>>>       4127
Jack     >>>>>       4098
Dcab     >>>>>       7678

In [59]:
animals = 'eels'
print(f'My hovercraft is full of {animals}.')
print(f'My hovercraft is full of {animals!r}.')
print(f'My hovercraft is full of {animals!s}.')

My hovercraft is full of eels.
My hovercraft is full of 'eels'.
My hovercraft is full of eels.

In [60]:
bugs = 'roaches'
count = 13
area = 'living room'
print(f'Debugging {bugs=} {count=} {area=}')

Debugging bugs='roaches' count=13 area='living room'

In [62]:
print('{0} and {1}'.format('spam', 'eggs'))
print('{1} and {0}'.format('spam', 'eggs'))

spam and eggs
eggs and spam

In [63]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',other='Georg'))

The story of Bill, Manfred, and Georg.

In [73]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; ''Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [70]:
for x in range(1, 16):
    print('{0:5d} {1:10d} {2:10d}'.format(x, x*x, x*x*x))

    1          1          1
    2          4          8
    3          9         27
    4         16         64
    5         25        125
    6         36        216
    7         49        343
    8         64        512
    9         81        729
   10        100       1000
   11        121       1331
   12        144       1728
   13        169       2197
   14        196       2744
   15        225       3375