 # Lab1 Programming Lab (PC 503)

### Question 1

In [1]:
print("Python Programming")

Python Programming

In [2]:
print("Programming Lab (PC 503)")

Programming Lab (PC 503)

In [3]:
print("Nirmal Shah")

Nirmal Shah

In [4]:
print("Sector 1, Gandhinagar")

Sector 1, Gandhinagar

### Question 2

#### Integer

In [7]:
Temp = 29
print(Temp, type(Temp))

29 <class 'int'>

In [8]:
Humidity = 75
print(Humidity, type(Humidity))

75 <class 'int'>

#### Floating Point

In [9]:
Road_Size = 29.99
print(Road_Size, type(Road_Size))

29.99 <class 'float'>

In [10]:
Water_Vol = 298.52
print(Water_Vol, type(Water_Vol))

298.52 <class 'float'>

In [11]:
Soil_Moisture = 20.65
print(Soil_Moisture, type(Soil_Moisture))

20.65 <class 'float'>

#### Complex Number

In [20]:
c_num1 = 2+3j
c_num1

(2+3j)

In [13]:
c_num2 = 10-6j
c_num2

(10-6j)

#### Boolean

In [14]:
Flag = True
Flag

True

### Question 3

In [16]:
str1=" Agricultural development is central to Indian economy"
str2=" Indian agriculture is a gamble of monsoon"

In [18]:
'India' in str1

True

In [30]:
# camel case str 1
arr = str1.strip().split(' ')
arr = [i.capitalize() for i in arr]
arr[0]=arr[0].lower()
''.join(arr)

'agriculturalDevelopmentIsCentralToIndianEconomy'

In [31]:
# camel case str 2
arr = str2.strip().split(' ')
arr = [i.capitalize() for i in arr]
arr[0]=arr[0].lower()
''.join(arr)

'indianAgricultureIsAGambleOfMonsoon'

In [32]:
str1.upper()

' AGRICULTURAL DEVELOPMENT IS CENTRAL TO INDIAN ECONOMY'

In [33]:
str2.lower()

' indian agriculture is a gamble of monsoon'

In [36]:
str3 = str1 + str2
str3

' Agricultural development is central to Indian economy Indian agriculture is a gamble of monsoon'

In [43]:
arr1 = str1.strip().split(' ')
index = arr1.index('development')
arr1.insert(index, '\t')
res = ' '.join(arr1)
print(res)

Agricultural 	 development is central to Indian economy

In [44]:
str1.strip().split(' ')

['Agricultural', 'development', 'is', 'central', 'to', 'Indian', 'economy']

In [45]:
str2.strip().split(' ')

['Indian', 'agriculture', 'is', 'a', 'gamble', 'of', 'monsoon']

In [46]:
str1.isalpha()

False

In [47]:
str1.isalnum()

False

In [48]:
str1.isdigit()

False

In [ ]:
### Question 4

In [49]:
n1 = int(input('Enter Number 1'))
n2 = int(input('Enter Number 2'))
print('square of number 1 :',n1**2)
print('Cube of number 1 :',n1**3)
print('square of number 1 :',n2**2)
print('Cube of number 1 :',n2**3)

square of number 1 : 25
Cube of number 1 : 125
square of number 1 : 36
Cube of number 1 : 216

In [ ]:
### Question 5

In [50]:
n3 = int(input('Enter Number 1'))
n4 = int(input('Enter Number 2'))
print('Addition :',n3+n4)
print('Subtraction :',n3-n4)
print('Multiplication :',n3*n4)
print('Division :',n3/n4)

Addition : 14
Subtraction : 2
Multiplication : 48
Division : 1.3333333333333333

In [ ]:
### Question 6

In [51]:
c,d,g,h=5,8,2,6
l=(c+d)*(g+h)
l

104

In [53]:
k,a=9,5
x=((k-4)*(a*4))/100
x

1.0

In [54]:
a,c,b=50,65,85
s=((4*a+c)-2*a*b)/100
s

-82.35

In [55]:
p,r,n=50000,12,2
a=p*(1+(r/100)/n)-p
a

3000.0

In [56]:
v,s,l,m=98,84,5,6
t=((v+s)+(l-m)*l)
t

177

In [58]:
a,b=65,68
c=(a+b)*(a+b) 
c

17689

In [ ]:
### Question 7

In [59]:
base = int(input('Enter Base of Triangle'))
altitude = int(input('Enter Altitude of Triangle'))

area = 0.5 * base * altitude

print('Area of triangle is', area,'sq. units')

Area of triangle is 312.0 sq. units

In [ ]:
### Question 8

In [64]:
USDrate = 0.012
rup = int(input('Enter Currency in INR'))
conv = rup * USDrate
print('$',conv)

$ 499.62